@font-face {
    font-family: "IBM Plex Sans", "sans-serif";
    font-style: normal;
    font-weight: 300;
    src: url("ibmplexsans-light-webfont.woff2") format('woff2'),
    url('ibmplexsans-light-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans", "sans-serif";
    font-style: normal;
    font-weight: 400;
    src: url("ibmplexsans-regular-webfont.woff2") format('woff2'),
    url('ibmplexsans-regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans", "sans-serif";
    font-style: normal;
    font-weight: 700;
    src: url("ibmplexsans-medium-webfont.woff2") format('woff2'),
    url('ibmplexsans-medium-webfont.woff') format('woff');
    font-display: swap;
}

.font-plex-sans {
    font-family: "IBM Plex Sans", "sans-serif";
}